<div class="container">
    <mdb-breadcrumb customClass="special-color white-text mt-5">
        <mdb-breadcrumb-item routerLink="/">Home</mdb-breadcrumb-item>
        <mdb-breadcrumb-item (click)="dashboard()" >Dashboard</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active" >My Booking</mdb-breadcrumb-item>
        
      </mdb-breadcrumb>
</div>

<div class="col-md-8">

    <div class="my-card1">

        <div>
            <span class="font-weight-bold">Personal Information</span>
            <span *ngIf="NameFields" class="font-weight-bold ml-5" style="color: #1B98F5; cursor: pointer;"
                (click)="onPersonalInfo()">Edit</span>
            <span *ngIf="!NameFields" class="font-weight-bold ml-5" style="color: #1B98F5; cursor: pointer;"
                (click)="onPersonalInfoCan()">Cancel</span>
        </div>


        <form [formGroup]="EditForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-5">
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                        <input mdbInput type="text" id="form22" class="form-control"
                            formControlName="firstname" />
                        <label for="form22">FirstName</label>
                        <mdb-error *ngIf="
             firstname.invalid &&
              (firstname.dirty || firstname.touched)
            ">
                            First Name is required
                        </mdb-error>
                        <mdb-success *ngIf="
                    firstname.valid &&
              (firstname.dirty || firstname.touched)
            ">
                        </mdb-success>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                        <input mdbInput type="text" id="form23" class="form-control"
                            formControlName="lastname" />
                        <label for="form23">LastName</label>
                        <mdb-error *ngIf="
                    lastname.invalid &&
                      (lastname.dirty || lastname.touched)
                    ">
                            Last Name is required
                        </mdb-error>
                        <mdb-success *ngIf="
                    lastname.valid &&
                      (lastname.dirty ||lastname.touched)
                    ">
                        </mdb-success>
                    </div>
                </div>
            </div>
            <!-- <div>
                <span class="font-weight-bold">Email address</span>
                <span *ngIf="EmailField" class="font-weight-bold ml-5" style="color: #1B98F5; cursor: pointer;"
                    (click)="onEmail()">Edit</span>
                <span *ngIf="!EmailField" class="font-weight-bold ml-5" style="color: #1B98F5; cursor: pointer;"
                    (click)="onEmailCan()">Cancel</span>
            </div> -->
            <div class="md-form form-sm">
                <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                <input mdbInput  type="email" id="form24" class="form-control"
                    formControlName="email" />
                <label for="form24">Email</label>
                <mdb-error *ngIf="
                 email.invalid &&
                  (email.dirty ||email.touched)
                ">
                    <p *ngIf="email.errors?.required" class="text-danger">email is
                        required</p>
                    <p *ngIf="email.errors?.email" class="text-danger">Enter Valid
                        email</p>
                </mdb-error>
            </div>


          




            <div class="md-form form-sm">
                <mdb-icon fas icon="phone" class="prefix"></mdb-icon>
                <input mdbInput  type="tel" id="form27" class="form-control"
                    formControlName="contact" />
                <label for="form27">Contact</label>
                <mdb-error *ngIf="
                contact.invalid &&
                  ( contact.dirty ||  contact.touched)
                ">
                    <p *ngIf="contact.errors?.required" class="text-danger">Mobile is
                        required</p>
                    <p *ngIf="contact.errors?.pattern" class="text-danger">Mobile
                        number should be of 10 digits</p>

                </mdb-error>

            </div>
            <div class="row">
                <div class="col-6">
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                        <input mdbInput  type="number" id="form65" class="form-control"
                            formControlName="age" />
                        <label for="form65">Age</label>
                        <mdb-error *ngIf="
                        age?.invalid &&
                          ( age?.dirty ||  age?.touched)
                        ">
                            <p *ngIf="age?.errors?.required" class="text-danger">Age is
                                required</p>
                            <p *ngIf="age?.errors?.pattern" class="text-danger">Enter Right Age</p>

                        </mdb-error>

                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                        <input mdbInput  type="text" id="form72" class="form-control"
                            formControlName="gender" />
                        <label for="form72">Gender i.e Male or Female</label>
                        <mdb-error *ngIf="
                        gender?.invalid &&
                          ( gender?.dirty ||  gender?.touched)
                        ">
                            <p *ngIf="gender?.errors?.required" class="text-danger">Gender is
                                required</p>
                            <p *ngIf="gender?.errors?.pattern" class="text-danger">Must be male or female</p>

                        </mdb-error>

                    </div>
                </div>
            </div>
                
           
            <div>
                <div class="row">
                    <div class="col-md-5 ">
                        <div class="text-center mb-5 ">
                            <button [disabled]="!EditForm.valid " type="submit" mdbBtn color="info" 
                                class="z-depth-1a waves-light" mdbWavesEffect>Save Changes
                            </button>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <button type="button" mdbBtn color="warning"
                            class="z-depth-1a waves-light" (click)="onCancel()" mdbWavesEffect>Cancel
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>

