.my-card1{
    border: 2px solid black;
    font-family: Arial, Helvetica,Museo;
    margin-top: 8%;
    margin-left: 40%;
    margin-bottom: 10%;
   padding-left: 30px;
   padding-top: 20px;
    background-color: wheat;
}