<div class="container-fluid">
    <div class="row ">
        <div class="col-3 ">
         </div>
    <div class="row-login col-md-5  mt-5">
        <mdb-card >
            <mdb-card-header class="primary-color white-text text-center py-4">
                <h5>
                    <strong><i class='fas fa-user'></i>Login</strong>
                </h5>
            </mdb-card-header>
            <mdb-card-body class="px-lg-5 pt-0 ">
                <form #userForm="ngForm"  novalidate *ngIf ="!submitted">
                    <div class="md-form form-sm form-group">
                        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                        <input type="email" id="form22" mdbInput [class.is-invalid]="name.invalid && name.touched"  required #name="ngModel" name='email' [(ngModel)]="email"  class="form-control" />
                        <label for="form22">Your email</label>
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
                       

                    </div>

                    <div class="md-form form-sm">
                        <mdb-icon fas icon="lock" class="prefix "></mdb-icon>
                        <input mdbInput type="password" id="form23" class="form-control" [class.is-invalid]="pass.invalid && pass.touched"  required #pass='ngModel' name='pass' [(ngModel)]="password" />
                        <!-- <span toggle="#form23" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
                        <label for="form23">Your password</label>
                        
                        <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">password is required</small>
                       
                        
                    </div>
                    <p class="text-danger">{{errMsg}}</p>
                    <div class="text-center mb-3">
                        <button  [disabled]="userForm.form.invalid" type="button" mdbBtn color="success" [outline]="isOutline"
                            class="z-depth-1a waves-light" (click)="login()" mdbWavesEffect >Sign in
                        </button>
                    </div>
                </form>
                 
                <div class="row">
                    <div class="col-6">
                        <p>Not a Member?
                            <a routerLink="/signup" class="blue-text">Sign Up</a>
                        </p>
                    </div>
                   
                </div>
               
            </mdb-card-body>
        </mdb-card>
    </div>
</div>
</div>