<div class="container mt-5 mb-5">
    <!-- Editable table -->
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">User Detials</h3>
        <div class="card-body">
            <div id="table" class="table-editable">
                <span class="table-add float-right mb-3 mr-2">
                    <a class="text-success" (click)="addUser()">
                        <mdb-icon mdbTooltip="Add {{role}}" fas icon="plus" size="2x"></mdb-icon>
                    </a>
                </span>
                
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    
                    <tr>
                        <th class="text-center">Sr.No</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Mobile No</th>
                        <th class="text-center">Age</th>
                        <th class="text-center">Gender</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                    
                    <tr *ngFor="let user of userList; let id = index" >
                       <td>{{id+1}}</td>
                        <td>
                            {{user?.firstname}} {{user?.lastname}}
                        </td>
                        <td>
                            {{user?.email}}
                        </td>
                        <td>
                            {{user?.contact}}
                        </td>
                        <td>
                            {{user?.age}}
                        </td>
                        <td>
                            {{user?.gender}}
                        </td>
                        
                        <td>
                            <span class="table-up">
                                <a class="indigo-text">

                                    <mdb-icon mdbTooltip="Edit Details" fas icon="edit" (click)="edit(user)"></mdb-icon>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span class="table-up">
                                <a class="text-danger">

                                    <mdb-icon mdbTooltip="Remove" fas icon="trash-alt" (click)="remove(id,user._id)"></mdb-icon>
                                </a>
                            </span>
                        </td>
               
                    </tr>
               
                </table>
            
            </div>
        </div>
    </div>
   
</div>


<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div *ngIf="!isAddButtonPressed" class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="isAddButtonPressed" class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form [formGroup]="EditForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                <input mdbInput type="text" id="form22" class="form-control"
                                    formControlName="firstname" />
                                <label for="form22">FirstName</label>
                                <mdb-error *ngIf="
                         firstName?.invalid &&
                          (firstName?.dirty || firstName?.touched)
                        ">
                                    First Name is required
                                </mdb-error>
                                <mdb-success *ngIf="
                                firstName?.valid &&
                          (firstName?.dirty || firstName?.touched)
                        ">
                                </mdb-success>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                <input mdbInput  type="text" id="form23" class="form-control"
                                    formControlName="lastname" />
                                <label for="form23">LastName</label>
                                <mdb-error *ngIf="
                                lastName?.invalid &&
                                  (lastName?.dirty || lastName?.touched)
                                ">
                                    Last Name is required
                                </mdb-error>
                                <mdb-success *ngIf="
                                lastName?.valid &&
                                  (lastName?.dirty ||lastName?.touched)
                                ">
                                </mdb-success>
                            </div>
                        </div>

                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                        <input mdbInput  type="email" id="form24" class="form-control"
                            formControlName="email" />
                        <label for="form24">Email</label>
                        <mdb-error *ngIf="
                         email.invalid &&
                          (email.dirty ||email.touched)
                        ">
                            <p *ngIf="email.errors?.required" class="text-danger">email is
                                required</p>
                            <p *ngIf="email.errors?.email" class="text-danger">Enter Valid
                                email</p>
                        </mdb-error>
                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                        <input mdbInput  type="password" id="form25" class="form-control"
                            formControlName="password" />
                        <label for="form25">Your password</label>
                        <mdb-error *ngIf="password.invalid &&(password.dirty || password.touched)">
                            <p *ngIf="password.errors?.required" class="text-danger">password is required</p>
                            <p *ngIf="password.errors?.pattern" class="text-danger">Must contain One Uppercase letter and special char(@,%,&...) and should be minimum length of 8 </p>
                        </mdb-error>
                       
                    </div>
                    <div class="md-form form-sm">
                        <mdb-icon fas icon="phone" class="prefix"></mdb-icon>
                        <input mdbInput  type="tel" id="form27" class="form-control"
                            formControlName="contact" />
                        <label for="form27">Phone</label>
                        <mdb-error *ngIf="
                        mobile?.invalid &&
                          ( mobile?.dirty ||  mobile?.touched)
                        ">
                            <p *ngIf="mobile?.errors?.required" class="text-danger">Mobile is
                                required</p>
                            <p *ngIf="mobile?.errors?.pattern" class="text-danger">Mobile
                                number should be of 10 digits</p>

                        </mdb-error>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                <input mdbInput  type="number" id="form65" class="form-control"
                                    formControlName="age" />
                                <label for="form65">Age</label>
                                <mdb-error *ngIf="
                                age?.invalid &&
                                  ( age?.dirty ||  age?.touched)
                                ">
                                    <p *ngIf="age?.errors?.required" class="text-danger">Age is
                                        required</p>
                                    <p *ngIf="age?.errors?.pattern" class="text-danger">Enter Right Age</p>
    
                                </mdb-error>
    
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="md-form form-sm">
                                <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                <input mdbInput  type="text" id="form72" class="form-control"
                                    formControlName="gender" />
                                <label for="form72">Gender i.e Male or Female</label>
                                <mdb-error *ngIf="
                                gender?.invalid &&
                                  ( gender?.dirty ||  gender?.touched)
                                ">
                                    <p *ngIf="gender?.errors?.required" class="text-danger">Gender is
                                        required</p>
                                    <p *ngIf="gender?.errors?.pattern" class="text-danger">Must be male or female</p>
    
                                </mdb-error>
    
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-5 ">
                                <div class="text-center mb-5 ">
                                    <button *ngIf="!isAddButtonPressed" [disabled]="!EditForm.valid" type="submit" mdbBtn color="success" 
                                        class="z-depth-1a waves-light" mdbWavesEffect>Update
                                    </button>
                                    <button *ngIf="isAddButtonPressed" [disabled]="!EditForm.valid" type="submit" mdbBtn color="info" 
                                        class="z-depth-1a waves-light" mdbWavesEffect>Add
                                    </button>
                                </div>

                            </div>
                            <div class="col-md-5">
                                <button type="button" mdbBtn color="danger"
                                    class="z-depth-1a waves-light" (click)="frame.hide()" mdbWavesEffect>Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>