.carousel {

    max-height: 400px;
    
    img {
    
    max-height: 550px;
    
    }
    
    }

.howitworkblock{
    background-color: black;
    color: white;
    padding: 40px;
}


 .img1{
    border-radius: 60%;
    
    
 }
 .img2{
    border-radius: 60%;
    margin-left: 10%;
 }
 .img3{
     border-radius: 60%;
     margin-left: 20%;
 }
 .img4{
     border-radius: 60%;
     margin-left: 30%;
 }

 .h3pay{
     margin-top: 5%;
     margin-left: 40%;
 }
 .enj{
     margin-top: 5%;
     margin-left: 60%;
 }