<div class="container-fluid mt-4">

    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100 ">
          <img class="d-block w-100" src="assets/pic1.jpg" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h1 class="h1-responsive">Quality Serivce For You</h1>
          <p>Explore Now</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="assets/pic2.jpg" alt="Second slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Enjoy Our service</h3>
          
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="assets/pic3.jpg" alt="Third slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Enjoy Your Vacation with our service</h3>
          
        </div>
      </mdb-carousel-item>
     
     
      
    </mdb-carousel>
  </div>

  <!-- jumbotron-->

  <div class="container-fluid mt-3 mb-3">
    <mdb-card>
      <div class="text-center py-5 px-4 my-5">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
            <strong>Make Us Your Travel Campanion
  
            </strong>
          </h2>
          <p class="mx-5 mb-5">Enjoy hassle free and courteous service on board and beyond with us. On making a flight booking
              with us, you can enjoy the lowest booking and cancellation fee, exclusive flight offers and add-ons, along with a personalised and smooth experience. 
          </p>
          <hr class="my-4">
          <a mdbBtn color="primary" color="secondary" class="waves-light" (click)="bookNow()" mdbWavesEffect>
            Book Your Flight Now
          </a>
        </div>
      </div>
    </mdb-card>
  </div>

  <!--how it work section-->
<div class="container-fluid mt-2">
    <div _ngcontent-fgw-c83="" class="howitworkblock bs-section">
        <div _ngcontent-fgw-c83="" class="container">
            <div _ngcontent-fgw-c83="" class="row d-flex mt-1">
                <div _ngcontent-fgw-c83="" class="col-12 col-md-12 d-sm-block">
                    <h1 _ngcontent-fgw-c83="" class="howitworkcls"> How it Works </h1>
                </div>
            </div>
            <div _ngcontent-fgw-c83="" class="row d-flex mt-4 margin0cls">
                <div _ngcontent-fgw-c83="" class="col-12 col-md-12 nopaddingclsblock">
                    <div _ngcontent-fgw-c83="" class="row m-2 mb-4">
                        <div _ngcontent-fgw-c83="" class="col-12">
                            <div _ngcontent-fgw-c83="" class="row">
                                <div _ngcontent-fgw-c83="" class="col-md-3 col-12 text-center">
                                    <div _ngcontent-fgw-c83="" class="hiw-box">
                                        <div _ngcontent-fgw-c83="" class="stepsimg1">
                                            <img _ngcontent-fgw-c83="" src="assets/pic0.jpg" alt="about" class="img-fluid img1">
                                        </div>
                                        <div _ngcontent-fgw-c83="" class="inner">
                                            <h3 _ngcontent-fgw-c83="" class="ml-2 mt-2">Search Your Flight </h3>
                                            <p _ngcontent-fgw-c83="">Select your nearest airport</p>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-fgw-c83="" class="col-md-3 col-12 text-center">
                                    <div _ngcontent-fgw-c83="" class="hiw-box">
                                        <div _ngcontent-fgw-c83="" class="stepsimg">
                                            <img _ngcontent-fgw-c83="" src="assets/login.jpg" alt="about" class="img-fluid img2">
                                        </div>
                                        <div _ngcontent-fgw-c83="" class="inner">
                                            <h3 _ngcontent-fgw-c83="" class="mt-2 ml-4">Login/Register</h3>
                                            <p _ngcontent-fgw-c83="" class="ml-4">Login into your account or create a new account</p>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-fgw-c83="" class="col-md-3 col-12 text-center">
                                    <div _ngcontent-fgw-c83="" class="hiw-box">
                                        <div _ngcontent-fgw-c83="" class="stepsimg">
                                            <img _ngcontent-fgw-c83="" src="assets/pay.jpg" alt="about" class="img-fluid img3">
                                        </div>
                                        <div _ngcontent-fgw-c83="" class="inner">
                                            <h3 _ngcontent-fgw-c83="" class="h3pay">Make The payment</h3>
                                            <p _ngcontent-fgw-c83="" class="h3pay">Online payment</p>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-fgw-c83="" class="col-md-3 col-12 text-center">
                                    <div _ngcontent-fgw-c83="" class="hiw-box">
                                        <div _ngcontent-fgw-c83="" class="stepsimg">
                                            <img _ngcontent-fgw-c83="" src="assets/flight.jpg" alt="about" class="img-fluid img4">
                                        </div>
                                        <div _ngcontent-fgw-c83="" class="inner enj">
                                            <h3 _ngcontent-fgw-c83="">Enjoy</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</div>  