.fa-plane{
    margin-left: 30%;
    margin-top: 5%;
}

.fa-chalkboard-teacher{
    margin-left: 30%;
    margin-top: 5%;
}

.fa-user{
    margin-left: 30%;
    margin-top: 5%;
}
.row{
    margin-top: 8%;
    margin-bottom: 8%;
}