

<div *ngIf="!formSubmitted" class="container-fluid">
    <div class="row ">
        <div class="col-3 ">
        </div>
        <div class="row-login col-md-6 mt-5 mb-5 ">
            <mdb-card>
                <mdb-card-header class="secondary-color white-text text-center py-4">
                    <h5>
                        <strong><i class='fas fa-user pr-2'></i>Sign Up</strong>
                    </h5>
                </mdb-card-header>
                <mdb-card-body class="px-lg-5 pt-0 ">
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form form-sm">
                                    <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                    <input mdbInput type="text" id="form22" class="form-control"
                                        formControlName="firstname" />
                                    <label for="form22">FirstName</label>
                                    <mdb-error *ngIf="
                             firstName?.invalid &&
                              (firstName?.dirty || firstName?.touched)
                            ">
                                        First Name is required
                                    </mdb-error>
                                    <mdb-success *ngIf="
                                    firstName?.valid &&
                              (firstName?.dirty || firstName?.touched)
                            ">
                                    </mdb-success>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form form-sm">
                                    <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                    <input mdbInput  type="text" id="form23" class="form-control"
                                        formControlName="lastname" />
                                    <label for="form23">LastName</label>
                                    <mdb-error *ngIf="
                                    lastName?.invalid &&
                                      (lastName?.dirty || lastName?.touched)
                                    ">
                                        Last Name is required
                                    </mdb-error>
                                    <mdb-success *ngIf="
                                    lastName?.valid &&
                                      (lastName?.dirty ||lastName?.touched)
                                    ">
                                    </mdb-success>
                                </div>
                            </div>

                        </div>

                        <div class="md-form form-sm">
                            <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                            <input mdbInput  type="email" id="form24" class="form-control"
                                formControlName="email" />
                            <label for="form24">Email</label>
                            <mdb-error *ngIf="
                             email?.invalid &&
                              (email?.dirty ||email?.touched)
                            ">
                                <p *ngIf="email?.errors?.required" class="text-danger">email is
                                    required</p>
                                <p *ngIf="email?.errors?.email" class="text-danger">Enter Valid
                                    email</p>
                            </mdb-error>

                        </div>
                        <div class="md-form form-sm">
                            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                            <input mdbInput  type="password" id="form25" class="form-control"
                                formControlName="password" />
                            <label for="form25">Your password</label>
                            <mdb-error *ngIf="password?.invalid &&(password?.dirty || password?.touched)">
                                <p *ngIf="password?.errors?.required" class="text-danger">password is required</p>
                                <p *ngIf="password?.errors?.pattern" class="text-danger">Must contain One Uppercase letter and special char(@,%,&...) and should be minimum length of 8 </p>
                            </mdb-error>
                           
                        </div>
                        <div class="md-form form-sm">
                            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                            <input mdbInput  type="password" id="form26" class="form-control"
                                formControlName="repassword" />
                            <label for="form26">Confirm Password</label>
                            <mdb-error *ngIf="
                              registrationForm.invalid
                            ">
                               <p *ngIf="registrationForm.errors?.misMatch" class="text-danger">mismatch</p>
                            </mdb-error>
                            
                        </div>
                        <div class="md-form form-sm">
                            <mdb-icon fas icon="phone" class="prefix"></mdb-icon>
                            <input mdbInput  type="tel" id="form27" class="form-control"
                                formControlName="contact" />
                            <label for="form27">Phone</label>
                            <mdb-error *ngIf="
                            mobile?.invalid &&
                              ( mobile?.dirty ||  mobile?.touched)
                            ">
                                <p *ngIf="mobile?.errors?.required" class="text-danger">Mobile is
                                    required</p>
                                <p *ngIf="mobile?.errors?.pattern" class="text-danger">Mobile
                                    number should be of 10 digits</p>

                            </mdb-error>

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="md-form form-sm">
                                    <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                    <input mdbInput  type="number" id="form65" class="form-control"
                                        formControlName="age" />
                                    <label for="form65">Age</label>
                                    <mdb-error *ngIf="
                                    age?.invalid &&
                                      ( age?.dirty ||  age?.touched)
                                    ">
                                        <p *ngIf="age?.errors?.required" class="text-danger">Age is
                                            required</p>
                                        <p *ngIf="age?.errors?.pattern" class="text-danger">Enter Right Age</p>
        
                                    </mdb-error>
        
                                </div>
                            </div>
                            <div class="col=6">
                                <div class="md-form form-sm">
                                    <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                                    <input mdbInput  type="text" id="form72" class="form-control"
                                        formControlName="gender" />
                                    <label for="form72">Gender i.e Male or Female</label>
                                    <mdb-error *ngIf="
                                    gender?.invalid &&
                                      ( gender?.dirty ||  gender?.touched)
                                    ">
                                        <p *ngIf="gender?.errors?.required" class="text-danger">Gender is
                                            required</p>
                                        <p *ngIf="gender?.errors?.pattern" class="text-danger">Must be male or female</p>
        
                                    </mdb-error>
        
                                </div>
                            </div>
                        </div>
                        
                        <div class="text-center mb-3">
                            <button [disabled]="!registrationForm.valid" type="submit" mdbBtn color="secondary" [outline]="isOutline"
                                 class="z-depth-1a waves-light"  mdbWavesEffect>Sign in
                            </button>
                        </div>

                    </form>

                  
                    <div class="options text-right">
                        <p class="pt-1">
                            Already have an account?
                            <a routerLink="/login" class="blue-text">Log In</a>
                        </p>
                    </div>

                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>

